{% extends 'base.html.twig' %}

{% block title %}add new activity{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-12 text-center m-3">
                <h3>Add a new activity</h3>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-3">Save</button>
                {{  form_end(form) }}
            </div>

        </section>
    </main>

{% endblock %}
