{% extends 'base.html.twig' %}
{% block title %} update FAQ {% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">Update Resa</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }} <!-- va chercher tout les champs -->
                <button type="submit" class="btn btn-primary">update</button>
                {{  form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}