{% extends 'base_fr.html.twig' %}

{% block title %}BABDay 2022 - devenir sponsors{% endblock %}

{% block body %}

    <body class ="full-page bgImage" style="background-image:url({{ asset('image/lines2.png') }});">
    <div class="sponsor container pt-50">
        <p class="text-center">Nous vous proposons différentes propositions de sponsoring. Ce sont des propositions de base, mais toute autre idée pouvant conduire à une bonne coopération peut bien sûr faire l’objet d’un entretien.</p>
        <div>
            <div class="separation-long m-4"></div>
            <h2 class="text-center">Forfait 1: partenaire NH90-Caïman: 1500 euros</h2>
            <div class="separation-long m-4"></div>
            <p class="m-2 text-center"><b>Le logo de votre entreprise sur la page du programme et sur le site Web</b></p>
            <p class="m-2 text-center"><b>Visibilité exclusive</b></p>
            <p class="text-center">Utilisation de l'espace visuel (intérieur et extérieur) en plaçant 8 bannières (à remettre par le partenaire) dont 4 au maximum aux 2 entrées publiques</p>
            <p class="text-center">Un stand de promotion de 30 m² maximum (seule l'électricité est fournie par la base)</p>
            <p class="text-center">Un total de 30 minutes de spot vidéo sur les écrans à la zone publique</p>
            <p class="m-2 text-center"><b>10 billets d'entrée</b></p>
            <p class="m-2 text-center"><b>Baptême aérien pour 2 personnes lors de l'événement</b></p>
            <div class="separation-long m-4"></div>
        </div>
        <div>
            <h2 class="text-center">Forfait 2: Partenaire A109-Hirundo: 1000 euros</h2>
            <div class="separation-long m-4"></div>
            <p class="m-2 text-center"><b>Le logo de votre entreprise sur la page du programme et sur le site Web</b></p>
            <p class="m-2 text-center"><b>Visibilité exclusive</b></p>
            <p class="text-center">Utilisation de l'espace visuel (intérieur et extérieur) en plaçant 6 bannières (à remettre par le partenaire) dont 2 au maximum aux 2 entrées publiques.</p>
            <p class="text-center">Un stand de promotion de 20 m² maximum (seule l'électricité est fournie par la base)</p>
            <p class="text-center">Un total de 15 minutes de spot vidéo sur les écrans à la zone publique</p>
            <p class="m-2 text-center"><b>8 billets d'entrée</b></p>
            <p class="m-2 text-center"><b>Baptême aérien pour 1 personnes lors de l'événement</b></p>
            <div class="separation-long m-4"></div>
        </div>
        <div>
            <h2 class="text-center">Forfait 3: SF260 - Marchetti: 500 euros</h2>
            <div class="separation-long m-4"></div>
            <p class="m-2 text-center"><b>Le logo de votre entreprise sur la page du programme et sur le site Web</b></p>
            <p class="m-2 text-center"><b>Visibilité exclusive</b></p>
            <p class="text-center">Utilisation de l'espace visuel (intérieur et extérieur) en plaçant 4 bannières (à remettre par le partenaire) dont 2 au maximum aux 2 entrées publiques.</p>
            <p class="m-2 text-center"><b>6 billets d'entrée</b></p>
            <div class="separation-long m-4"></div>
        </div>
        <p class="text-center">Si vous êtes intéressé ou si vous avez des questions, n'hésitez pas à contacter le Major Aviateur Bjorn GIELIS (adresse mail: <a href="mailto:bjorn.gielis@mil.be">Bjorn.Gielis@mil.be</a>).</p>
    </div>
    </body>
    {%  include 'footer/footer_fr.html.twig' %}
{% endblock %}
