{% extends 'base_fr.html.twig' %}

{% block title %}BABDay 2022 - Tickets {% endblock %}

{% block body %}
    <body class ="full-page bgImage"style="background-image:url({{ asset('image/lines2.png') }});">
    <div class="container pt-50 row">
        <div class="fond-sponsor col-6 offset-3 text-center">
        <h3 class="text-center">Prévente clôturée</h3>
        <p class="text-center">Un ticket d’entrée au BAB Day peut être acheter à la caisse pour 10 €/p.p.</p>

         <p class="text-center">enfants jusqu’à 11 ans inclus entrent gratuitement.</p>

        <p class="text-center">Entrée gratuite pour les militaires en uniforme, sur présentation de la carte ID Mil.</p>
        </div>
    </div>
    </body>
{% endblock %}

