{% extends 'base_nl.html.twig' %}

{% block title %}BABDay 2022 - Activiteiten {% endblock %}

{% block body %}


    <body class ="bgImage full-page"style="background-image:url({{ asset('image/lines2.png') }});">
    <section id="info">
        <div class="container info">
            <p>
            Verscheidene militaire toestellen hebben hun deelname bevestigd zowel voor het statisch als voor het dynamisch gedeelte.
            Het publiek zal onder meer kunnen genieten van helikopters en vliegtuigen van onze basis zoals de A109BAi, NH90 TTH en SF260.
            Tijdens de BAB Day verloten we enkele luchtdopen op onze heli's A109 en NH90. Meer informatie hieromtrent volgt nog.
            </p>
            <div style="margin-top: -50px">
                <video width="640" height="480" controls autoplay>
                    <source src="{{ asset('video/BAB.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <p>
            Daarnaast zullen de eenheden van onze basis zichzelf voorstellen door middel van verschillende informatiestandjes.
            Kom de opdrachten en het materiaal van onze “Force Protection” eenheden ontdekken. Deze staat in voor het bewaken, het beveiligen en het verdedigen van onze basis, personeel en middelen zowel in België als in het buitenland. Zij zullen aanwezig zijn met een “Force Protection Village” waar dynamische demonstraties van verschillende types interventies kunnen zien.
            </p>
            <p>
            Tijdens ons evenement kunnen ook bepaalde burgerverenigingen die in nauw contact staan met onze vliegbasis, zoals de Luchtkadetten, niet ontbreken!
            Zij zullen aanwezig zijn met een standje en eventueel enkele toestellen om hun vereniging voor te stellen aan het grote publiek.
            </p>
            <p><b>
            Houdt regelmatig deze pagina in het oog, meer informatie volgt nog!
                </b></p>
            <!-- start of "Luchtdopen" -->
            <div>
                <h4><u>Luchtdopen</u></h4>
                <p>
                    Tijdens de BAB Day verloten we enkele luchtdopen op onze heli's A109 en NH90, evenals op het A400M vliegtuig (deze vlucht wordt voorzien op 10 Sep 22 vanuit Kleine Brogel Airbase). Wil je graag eens meevliegen met een militaire helikopter of een A400M vliegtuig en ben je minstens 12 jaar? Bied je dan zeker aan bij “Air Rides Tent” om deel te nemen aan deze unieke luchtdopen-tombola!
                </p>
                <p>
                    Hoe gaat dit in zijn werk?
                </p>
                <p>
                    Bij de kassa krijg je een toegangsticket bestaande uit twee delen. Op elk deel staat hetzelfde unieke nummer vermeld. Ga met jouw toegangsticket naar de “Air Rides Tent” nabij de “Info Kiosk”, scheur het grootste deel af en steek het in een van de tomboladozen. Het kleinste deel van de toegangskaart hou je uiteraard bij om later te controleren of je gewonnen hebt.
                    <br>De winnaars worden kenbaar gemaakt via de luidsprekers. De winnende nummers worden eveneens geprojecteerd op de schermen in de publieke zone. Heb je gewonnen? Ga dan onmiddellijk naar de “Air Rides Tent”. Op vertoon van het bewaarde deel van het toegangsticket wordt je ingeschreven op de passagierslijst en krijg je verdere richtlijnen. Good luck ... and good Flight!

                    <br>Good luck… and good flight !
                </p>
                <ul>
                    <li><u>Trekking :</u></li>
                    <li>11u30</li>
                    <li>13u30</li>
                    <li>15u30 (enkel A400)</li>
                </ul>
                <ul>
                    <li><u>Rotaties:</u></li>
                    <li>13u05-13u30: NH90 & A109</li>
                    <li>15u10-15u35: NH90 & A109</li>
                </ul>
            </div>
            <!-- end of "Luchtdopen" -->

            <!-- start of Militaire vliegtuigen en helikopters -->
            <div>
                <h4><u>Militaire vliegtuigen en helikopters</u></h4>
                <p>
                    Verscheidene militaire toestellen hebben hun deelname bevestigd zowel voor het statisch als voor het dynamisch gedeelte.
                    <br>Het publiek zal onder meer kunnen genieten van helikopters en vliegtuigen van onze basis zoals de A109BAi, NH90 TTH en SF260.
                    <br> Ook toestellen van andere eenheden zullen aanwezig zijn waaronder een F-16, een XINGU, een EC120 en een NH90 NFH.
            </div>
            <!-- end of Militaire vliegtuigen en helikopters -->

            <!-- start of Burgerverenigingen -->
            <div>
                <h4><u>Burgerverenigingen</u></h4>
                <p>
                    Tijdens ons evenement is ook de gelegenheid gegeven aan bepaalde burgerverenigingen, die in nauw contact staan met onze vliegbasis, om zich voor te stellen. Binnen dit kader hebben dan ook lokale vliegverenigingen zoals de Luchtkadetten en Avia Airsports reeds toegezegd. Verder zullen vliegclubs van het vliegveld Goetsenhoven ook aanwezig zijn.
                    <br> De Koninklijke Vliegclub De Wouw en ULM Goetsenhoven vzw maken hier eveneens deel van uit.
                </p>
            </div>
            <!-- end of Burgerverenigingen -->

            <!-- start of Force Protection Village -->
            <div>
                <h4><u>Force Protection Village</u></h4>
                <p>
                    Kom de opdrachten en het materiaal van onze “Force Protection” eenheden ontdekken. Deze staan in voor het bewaken, het beveiligen en het verdedigen van onze basis, personeel en middelen zowel in België als in het buitenland. Julie zullen ook dynamische demonstraties van verschillende types interventies kunnen zien.
                    <br> Voor de jongsten bieden we de mogelijkheid om deel te nemen aan onze “Air Commando Junior Challenge” om het brevet Air Commando te behalen.
                </p>
            </div>
            <!-- end of Force Protection Village -->

            <!-- start of kids challenge -->
            <div>
                <h4><u>Kids Challenge</u></h4>
                <p>
                    De Kids Challenge is een activiteitenparcours langs verschillende standen van de Beauvechain Air Base Day.
                    <br>Het parcours begint aan de stand van de Kids Challenge waar de deelnemers een deelnameformulier ontvangen.
                    <br>Indien de activiteiten met succes worden afgelegd, behaal je een diploma samen met een uniek aandenken aan de BAB Day 2022.
                    <br>( ! Zolang de voorraad strekt!)

                    <br>Open voor alle leeftijden < 18 jaar, richtleeftijd: 06-12 jaar.
                </p>
            </div>
            <!-- end of kids challenge -->
        </div>
    </section>

    </body>
    {%  include 'footer/footer_nl.html.twig' %}
{% endblock body %}