{% extends 'base_nl.html.twig' %}

{% block title %}BABDay 2022 - Sponsor{% endblock %}

{% block body %}

<body class ="bgImage"style="background-image:url({{ asset('image/lines2.png') }});">
    <div class="sponsor container pt-50">
        <p class="text-center">Wij bieden verschillende voorstellen tot sponsoring aan. Dit zijn basisvoorstellen maar elk ander idee, dat kan leiden tot een goede samenwerking, kan uiteraard onderwerp zijn van een gesprek.</p>
        <div>
            <div class="separation-long m-4"></div>
            <h2 class="text-center">Pakket 1: NH90-Caiman Partner: 1500 Euro</h2>
            <div class="separation-long m-4"></div>
            <p class="text-center"><b>Het logo van uw onderneming op het programmablad en op de website</b></p>
            <p class="text-center"><b>Exclusieve zichtbaarheid</b></p>
            <p class="text-center">Gebruik maken van de visuele ruimte (binnen en buiten) door het plaatsen van 8 spandoeken (te leveren door de partner) waarvan maximum 4 aan de 2 publieksingangen</p>
            <p class="text-center">Een promotiestand van maximum 30 m² (enkel elektriciteit wordt geleverd door de basis)</p>
            <p class="text-center">In totaal 30 min video spot op schermen in de publiekszone</p>
            <p class="text-center"><b>10 toegangskaarten</b></p>
            <p class="text-center"><b>Luchtdoop voor 2 personen tijdens het evenement</b></p>
        </div>
        <div>
            <div class="separation-long m-4"></div>
            <h2 class="text-center">Pakket 2: A109-Hirundo Partner: 1000 Euro </h2>
            <div class="separation-long m-4"></div>
            <p class="text-center"><b>Het logo van uw onderneming op het programmablad en op de website</b></p>
            <p class="text-center"><b>Exclusieve zichtbaarheid</b></p>
            <p class="text-center">Gebruik maken van de visuele ruimte (binnen en buiten) door het plaatsen van 6 spandoeken (te leveren door de partner) waarvan maximum 2 aan de 2 publieksingangen</p>
            <p class="text-center">Een promotiestand van maximum 20 m² (enkel elektriciteit wordt geleverd door de basis)</p>
            <p class="text-center">In totaal 15 min video spot op schermen in de publiekszone</p>
            <p class="text-center"><b>8 toegangskaarten</b></p>
            <p class="text-center"><b>Luchtdoop voor 1 personen tijdens het evenement</b></p>
        </div>
        <div>
            <div class="separation-long m-4"></div>
            <h2 class="text-center">Pakket 3: SF260 - Marchetti : 500 Euro </h2>
            <div class="separation-long m-4"></div>
            <p class="text-center"><b>Het logo van uw onderneming op het programmablad en op de website</b></p>
            <p class="text-center"><b>Exclusieve zichtbaarheid</b></p>
            <p class="text-center">Gebruik maken van de visuele ruimte (binnen en buiten) door het plaatsen van 4 spandoeken (te leveren door de partner) waarvan maximum 2 aan de 2 publieksingangen</p>
            <p class="text-center"><b>6 toegangskaarten</b></p>
            <div class="separation-long m-4"></div>
        </div>
        <p class="text-center">Indien interesse of vragen, aarzel dan niet contact op te nemen met Majoor Vlieger Bjorn GIELIS (e-mail: <a href="mailto:bjorn.gielis@mil.be">Bjorn.Gielis@mil.be</a>).</p>
    </div>
</body>
    {%  include 'footer/footer_nl.html.twig' %}
{% endblock %}