{% extends 'base_nl.html.twig' %}

{% block title %}BABDay 2022 - kaartjes {% endblock %}

{% block body %}
    <body class ="full-page bgImage"style="background-image:url({{ asset('image/lines2.png') }});">
    <div class="container pt-50 row">
        <div class="fond-sponsor col-6 offset-3 text-center">
            <h3 class="text-center">voorverkoop gesloten</h3>
            <p class="text-center">Een toegangskaart tot de BAB Day kan gekocht worden aan de kassa voor 10 €/p.p. </p>

            <p class="text-center">Kinderen tot en met 11 jaar mogen gratis binnen.</p>

            <p class="text-center">Toegang gratis voor militairen in uniform, op vertoon van de Mil ID kaart.</p>
        </div>
    </div>
    </body>
{% endblock %}